.flex-layout {
  display: flex;
  width: full;
  height: full;
  background-color: aliceblue;
}
.create-card {
  background-color: #fdf6ec;
  border-radius: 16px;
  padding: 20px;
  width: 120px;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.create-card p {
  font-size: 18px;
  color: #333;
  margin: 0;
  line-height: 1.4;
}
.create-box1 strong {
  color: #6b4eff;
}

.create-post {
  background-color: #fecd4d;
  color: #000;
  border: none;
  padding: 10px 16px;
  border-radius: 9999px;
  font-weight: bold;
  
  
}

.button {
  background-color: #e5b940;
  .socialmedia-box {
    background-color: #6b4eff; /* Purple background */
    color: white;
    padding: 30px;
    border-radius: 16px;
    width: 300px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    align-self: center;
  }
  
  .socialmedia-card h2 {
    font-size: 30px;
    margin-bottom: 12px;
    line-height: 1.4;
  }
.socialmedia-card h3 {
    font-style: italic;
}
  
  .socialmedia-card h2 span {
    font-weight: bold;
    color: #fecd4d; /* Highlight '10x Faster' in yellow */
  }
  
  .stars {
    font-size: 20px;
    margin-bottom: 8px;
    letter-spacing: 3px;
    color: #e5b940;
  }
  
  .review-text {
    font-size: 14px;
    color: #f0eefe; /* Slightly lighter than pure white */